@page "/about"

<PageTitle>Hakkımda - Kadir Dündar</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 class="mb-4">Hakkımda</h3>
            <p>Merhaba, ben Kadir Dündar. Bir .NET geliştiricisiyim ve özellikle .NET 9 ve MCP server projeleri üzerinde çalışmaktan keyif alıyorum. Yazılım geliştirme alanındaki yolculuğum...</p>
            <h4>Yeteneklerim</h4>
            <ul>
                <li>C# ve .NET (özellikle .NET 9)</li>
                <li>ASP.NET Core</li>
                <li>Entity Framework Core</li>
                <li>MCP Server Geliştirme</li>
                <li>Blazor</li>
                <li>Bootstrap</li>
                <li>ve daha fazlası...</li>
            </ul>
            <p>Sürekli öğrenmeye ve yeni teknolojileri keşfetmeye hevesliyim.</p>
        </div>
    </div>
</div> 