@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kadir Dündar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Ana Sayfa</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">Hakkımda</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="projects">Projeler</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">İletişim</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
@Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>